.form__save-button{
    background-image: url(../../../image/Submit\ Button.svg);
    width: 358px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: opacity 0.2s ease-in;
    margin-top: 48px;
    margin-bottom: 37px;
    border-radius: 2px;
}
.form__save-button:hover{
    opacity: 0.8;
}
@media screen and (max-width: 560px){
    .form__save-button{
        width: 98%;
        margin-top: 24px;
        margin-bottom: 18px;
    }
    
}